version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: pwr-studia-backend
    restart: unless-stopped
    env_file: .env
    environment:
      - NODE_ENV=production
      - DATABASE_CLIENT=sqlite
      - DATABASE_FILENAME=.tmp/data.db
      - JWT_SECRET=TO_BE_REPLACED_WITH_SECURE_SECRET
      - APP_KEYS=TO_BE_REPLACED_WITH_SECURE_KEYS
      - API_TOKEN_SALT=TO_BE_REPLACED_WITH_SECURE_SALT
      - ADMIN_JWT_SECRET=TO_BE_REPLACED_WITH_SECURE_ADMIN_SECRET
      - TRANSFER_TOKEN_SALT=TO_BE_REPLACED_WITH_SECURE_TRANSFER_SALT
    volumes:
      - ./backend/.tmp:/app/.tmp
      - ./backend/public/uploads:/app/public/uploads
    ports:
      - "13388:1337"
    networks:
      - pwr-studia-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
      args:
        PUBLIC_STRAPI_URL: http://157.180.18.130:13388
        STRAPI_URL: http://backend:1337
    container_name: pwr-studia-frontend
    restart: unless-stopped
    environment:
      - PUBLIC_STRAPI_URL=http://157.180.18.130:13388
      - STRAPI_URL=http://backend:1337
    ports:
      - "4322:4321"
    depends_on:
      - backend
    # We use a custom entrypoint to ensure runtime sync
    command: [ "sh", "./entrypoint.sh" ]
    networks:
      - pwr-studia-network

networks:
  pwr-studia-network:
    driver: bridge
