---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import LecturersGrid from "../components/sections/LecturersGrid.astro";
---

<Layout title="Wykładowcy - Praktyczny e-marketing | Politechnika Wrocławska">
    <Header />
    <main class="flex-1">
        <LecturersGrid />
    </main>
    <Footer />
</Layout>
